<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online MCQ Portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizSetting</display-name>
    <servlet-name>QuizSetting</servlet-name>
    <servlet-class>QuizSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizSetting</servlet-name>
    <url-pattern>/QuizSetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addque</display-name>
    <servlet-name>Addque</servlet-name>
    <servlet-class>Addque</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addque</servlet-name>
    <url-pattern>/Addque</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableQuiz</display-name>
    <servlet-name>AvailableQuiz</servlet-name>
    <servlet-class>AvailableQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableQuiz</servlet-name>
    <url-pattern>/AvailableQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableQuiz1</display-name>
    <servlet-name>AvailableQuiz1</servlet-name>
    <servlet-class>com.fauxcode.AvailableQuiz1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableQuiz1</servlet-name>
    <url-pattern>/AvailableQuiz1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>com.fauxcode.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/LoginProcess</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ViewQuiz</display-name>
    <servlet-name>ViewQuiz</servlet-name>
    <servlet-class>com.fauxcode.ViewQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQuiz</servlet-name>
    <url-pattern>/ViewQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculateMarks</display-name>
    <servlet-name>calculateMarks</servlet-name>
    <servlet-class>com.fauxcode.calculateMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculateMarks</servlet-name>
    <url-pattern>/calculateMarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdmin</display-name>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutStudent</display-name>
    <servlet-name>LogoutStudent</servlet-name>
    <servlet-class>LogoutStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutStudent</servlet-name>
    <url-pattern>/LogoutStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutstudent</display-name>
    <servlet-name>Logoutstudent</servlet-name>
    <servlet-class>com.fauxcode.LogoutStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutstudent</servlet-name>
    <url-pattern>/Logoutstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizReport</display-name>
    <servlet-name>QuizReport</servlet-name>
    <servlet-class>com.fauxcode.QuizReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizReport</servlet-name>
    <url-pattern>/QuizReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportAllStdents</display-name>
    <servlet-name>ReportAllStdents</servlet-name>
    <servlet-class>com.fauxcode.ReportAllStdents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportAllStdents</servlet-name>
    <url-pattern>/ReportAllStdents</url-pattern>
  </servlet-mapping>
  
  
<session-config>
	<session-timeout>10</session-timeout> 
</session-config>

</web-app>
